.layout-content {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  padding: 16px;

  h1 {
    color: white;
    border-bottom: 2px solid #5d82bb;
    margin-bottom: 16px;
  }

  .column {
    width: 400px;
    padding: 8px;
    display: inline-block;
    text-align: center;

    a {
      border: 2px solid #5d82bb;
      border-radius: 10px;
      margin-right: 16px;
      margin-bottom: 16px;
      display: block;
      text-decoration: none;
      color: white;
      background-color: #333333;
      overflow: hidden;

      &:hover {
        background-color: #3d4f7b;
      }
    }

    img {
      width: 100%;
      height: auto;
      max-width: 400px;
    }

    h3 {
      line-height: 40px;
      text-align: center;
    }
  }
}
