$yellow: #ffd96a;
$red: #c90000;

.cyber-adventure {
  padding: 0;
  background-color: var(--earth_white);

  .scene-1,
  .scene-2,
  .scene-3,
  .scene-4,
  .scene-5,
  .scene-10 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    > * {
      position: absolute;
    }

    h1 {
      font-size: 40px;
      border-bottom: 0;
    }

    h2 {
      font-size: 35px;
    }

    h3 {
      font-size: 30px;
    }

    h4, p {
      font-size: 25px;
    }

    button {
      min-width: 200px;
      padding: 10px;
      border-width: 6px;
      border-style: solid;
      font-size: 40px;
      font-weight: bold;
      outline: none;

      &:hover {
        font-size: 42px;
      }

      &:disabled:hover {
        font-size: 40px;
      }
    }

    h1, h2, h3, h4, p {
      color: var(--white);
    }

    .scene-actions {
      button {
        min-width: 0;
        width: 40px;
        height: 40px;
        border: none;
        padding: 0;
        font-size: 0;
      }
    }
  }

  .scene-1 {
    .char {
      bottom: -30px;
      left: 0;
      width: 750px;
    }

    .name {
      top: auto;
      right: 20px;
      bottom: 45px;
      width: 78%;
    }

    .fire {
      top: 108px;
      right: 5px;
      width: 400px;
    }

    .start {
      border-color: $yellow;
      bottom: 20px;
      right: 80px;
      color: $red;
    }

    .lesson {
      border-color: $yellow;
      bottom: 125px;
      right: 115px;
      color: $red;
    }
  }

  .scene-2 {
    .page {
      height: 100%;
      width: 100%;
      background-position: center;
      background-size: cover;
    }

    .page-1 button {
      position: absolute;
      bottom: 20px;
      right: 180px;
      line-height: 41px;
      height: 70px;
      border-color: #9E0E12;
    }

    .page-4 {
      > * {
        position: absolute;
      }

      img {
        height: 51px;
        width: 477px;

        &:hover {
          height: 53px;
          width: 479px;
        }
      }

      .text1 {
        left: 431px;
        bottom: 215px;
      }

      .text2 {
        left: 431px;
        bottom: 150px;
      }
    }

    .top-nav {
      display: flex;
      justify-content: space-between;
      position: absolute;
      top: 30px;
      left: 0;
      right: 0;
      padding: 0 20px;

      button {
        font-size: 25px;
        height: 65px;
        background-color: var(--white);
        border-color: #9E0E12;
        border-width: 3px;

        &:hover {
          color: #9E0E12;
        }
      }
    }
  }

  .scene-3 {
    h1 {
      color: var(--black);
    }

    .gscene-0, .gscene-1, .gscene-2, .gscene-3,
    .gscene-4, .gscene-5, .gscene-6,
    .gscene-7, .gscene-8, .gscene-9,
    .gscene-10, .gscene-11, .gscene-12,
    .gscene-13, .gscene-14, .gscene-15,
    .gscene-16, .gscene-17, .gscene-18,
    .gscene-19, .gscene-20, .gscene-21,
    .gscene-22, .gscene-23, .gscene-24,
    .gscene-25  {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      > * {
        position: absolute;
      }

      .char {
        bottom: 0;
        left: 0;
        animation: fadeLeft 1s ease-in-out;
      }

      .submit-name {
        bottom: 105px;
        margin: auto;
        border-color: $red;
        color: $red;
        left: auto;
        right: 140px;

        &:disabled {
          border-color: #DDD;
          color: #DDD;
        }
      }

      input {
        height: 60px;
        outline: none;
        text-align: center;
        margin: auto;
        padding: 10px;
        box-shadow: 2px 2px 4px var(--black);
        border: none;
        font-size: 40px;
        width: 300px;
        left: auto;
        right: 85px;
        top: 180px;
      }

      h2 {
        font-size: 40px;
        top: 150px;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        color: var(--black);

        &.total-score {
          font-size: 80px;
          width: 400px;
          right: 20px;
          top: 261px;
          left: auto;
          text-align: center;
          border: 6px solid var(--secondary);
          background-color: var(--black);
          overflow: hidden;
        }
      }

      .item {
        top: 20px;
        right: 20px;
        max-width: 440px;
        height: auto;
        animation: fadeRight 1s ease-in-out;
      }

      .play-again {
        border-color: $yellow;
        color: red;
        top: 250px;
        right: 80px;
      }

      .score {
        top: 50px;
        right: 50px;
      }
    }

    .gscene-0 {
      > * {
        position: absolute;
      }

      .char {
        bottom: -30px;
        left: 0;
        width: 750px;
      }

      .name {
        top: auto;
        right: 20px;
        bottom: 12px;
        width: 78%;
      }

      .fire {
        top: 108px;
        right: 5px;
        width: 400px;
        opacity: 0;
        animation: fadeLeft 1s linear forwards;
      }

      .start {
        border-color: $yellow;
        bottom: 82px;
        right: 114px;
        color: $red;
      }
    }

    .gscene-1 {
      padding: 50px;

      h1 {
        font-size: 50px;
        border-bottom: 3px solid var(--black);
      }

      p {
        color: var(--black);
        width: 885px;

        span {
          margin-right: 10px;
          padding: 5px 10px;
          background-color: var(--white);
          border: 6px solid var(--primary_dark);
          color: var(--primary_dark);
        }
      }

      img {
        right: 50px;
        bottom: 100px;
      }

      .c1 {
        top: 158px;
      }

      .c2 {
        top: 255px;
      }

      .c3 {
        top: 400px;
      }

      .c4 {
        top: 464px;
      }

      .c5 {
        top: 502px;
      }
    }

    .overlay {
      z-index: 3;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.7);

      button {
        top: 40%;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        border-color: red;
        color: red;
      }
    }
  }

  .gscene-3 {
    background-position: center;
    background-size: cover;
  }

  .gscene-4 {
    .i-1 {
      height: 100%;
      animation: fadeLeft 1s ease-in-out;
      z-index: 1;
    }

    .i-2 {
      height: 100%;
      right: 0;
      top: 0;
      bottom: 0;
      left: auto;
      animation: fadeLeft 1s ease-in-out;
      z-index: 0;
    }

    .i-3 {
      right: auto;
      left: 320px;
      top: 80px;
      animation: fadeRight 1s ease-in-out;
      z-index: 1;
      width: 250px;
      height: auto;
    }

    .i-4 {
      right: 50px;
      top: 30px;
    }
  }

  .gscene-5 {
    .i-1 {
      height: 100%;
      left: -50px;
      animation: fadeLeft 1s ease-in-out;
      z-index: 0;
    }

    .i-2 {
      height: 200px;
      top: 217px;
      right: 0;
      left: auto;
      animation: fadeRight 1s ease-in-out;
      z-index: 1;
    }

    .i-3 {
      top: 150px;
      right: 2px;
      width: 508px;
      z-index: 1;
      animation: fadeRight 1s ease-in-out;
    }

    .i-4 {
      top: 50px;
      right: 170px;
      animation: fadeRight 1s ease-in-out;
    }
  }

  .gscene-6 {
    .i-1 {
      height: 102%;
      width: 102%;
      z-index: 0;
    }
  }

  .gscene-8 {
    .i-1 {
      bottom: 0px;
      height: 100%;
      transform: translateX(-156px);
      animation: s81 5s linear;
    }

    @keyframes s81 {
      0% { transform: translateX(0); }
      100%{ transform: translateX(-156px); }
    }
  }

  .gscene-11, .gscene-15, .gscene-19, .gscene-23 {
    .unactive {
      opacity: 0.5;
    }

    .icon1 {
      width: 96px;

      &:hover {
        width: 98px;
      }
    }
    .icon2, .icon3, .icon5, .icon6, .icon7 {
      width: 89px;
      &:hover {
        width: 91px
      }
    }

    .icon4, .icon8 {
      width: 110px;
      &:hover {
        width: 112px;
      }
    }
  }

  .gscene-9 {
    .i-1 {
      bottom: 0; width: 100%;
      z-index: 1;
    }
    .i-2 {
      top: 170px;
      left: 200px;
      width: 50%;
      z-index: 0;
      animation: fadeRight 1s linear;
    }
    .i-3 {
      top: 200px;
      left: 200px;
      top: 289px;
      left: 342px;
      width: 200px;
      animation: fadeRight 1s linear;
    }
    .i-4 {
      top:20px; left: 20px;
      animation: fadeLeft 1s linear;
    }
  }

  .gscene-10 {
    .i-1 {
      bottom: 0; right: -10px; width: 600px;
      animation: fadeRight 2s linear;
    }
    .i-2 {
      opacity: 0;
      bottom: 0; left: 0; width: 300px;
      animation: fadeLeft 3s linear forwards;
      animation-delay: 2s;
    }
    .i-3 {
      opacity: 0;
      top: 50px; left: 200px; width: 300px; z-index: 0;
      animation: fadeRight 1s linear forwards;
      animation-delay: 5s;
    }
    .i-4 {
      opacity: 0;
      top: 100px; right: 20px; width: 150px; z-index: 0;
      animation: fadeLeft 1s linear forwards;
      animation-delay: 6s;
    }
  }

  .gscene-7 {
    .i-1 {
      bottom: 0;
      height: 550px;
      right: 0;
      animation: s6Left 5s linear;
      z-index: 1;
    }

    .i-2 {
      right: 20px;
      top: 20px;
      height: 100px;
      animation: left 1s linear;
    }

    .icon1, .icon2, .icon4, .icon3, .icon5, .icon6, .icon7, .icon8 {
      left: 20px;
      width: 100px;

      &:hover {
        width: 102px;
      }
    }
    .icon1 { top: 10px; width: 110px; &:hover {
      width: 112px;
    }}
    .icon2 { top: 30px; left: 150px; }
    .icon3 { top: 200px; }
    .icon4 { top: 190px; left: 150px; width: 125px; &:hover {
      width: 127px;
    } }
    .icon5 { top: 353px; }
    .icon6 { top: 353px; left: 150px; }
    .icon7 { top: 526px; }
    .icon8 { top: 526px; left: 150px; width: 120px; &:hover {
      width: 122px;
    } }

    @keyframes s6Left {
      0% { transform: translateX(-200px); opacity: 0; }
      100%{ transform: translateX(0); opacity: 1; }
    }
  }

  .gscene-11 {
    .i-1 {
      bottom: 150px; right: 0; width: 400px;
      animation: fadeRight 1s linear;
    }
    .i-2 {
      bottom: 150px; left: 0; width: 58%;
      opacity: 0;
      animation: fadeLeft 1s linear forwards;
      animation-delay: 2s;
    }
    .i-3 {
      top: 68px; right: 0; left: -141px; margin: auto; width: 250px;
      opacity: 0;
      animation: fadeLeft 1s linear forwards;
      animation-delay: 4s;
    }
  }

  .gscene-12 {
    .i-1 {
      width: 74%;
      bottom: 0;
      animation: fadeLeft 2s linear;
    }
    .i-2 {
      opacity: 0;
      right: 50px;
      top: 50px;
      width: 28%;
      animation: fadeLeft 2s linear forwards;
      animation-delay: 6s;
    }
  }

  .gscene-13 {
    .i-1 {
       width: 100%;
       bottom: 0;
       animation: fadeUp 2s linear;
    }
    .i-2 {
      left: 0;
      right: 0;
      top: 238px;
      width: 20%;
      margin: auto;
      opacity: 0;
      animation: fadeDown 2s linear forwards;
      animation-delay: 2s;
    }
    .i-3 {
      top: 20px;
      left: 20px;
      animation: fadeLeft 1s linear;
    }
  }

  .gscene-14 {
    .i-1 {
       height: 80%;
       bottom: 0;
       left: 0;
       animation: fadeLeft 2s linear;
    }
    .i-2 {
       height: 80%;
       bottom: 50px;
       right: 20px;
       opacity: 0;
       animation: fadeLeft 2s linear forwards;
       animation-delay: 4s;
    }
  }

  .gscene-15 {
    .i-1 {
      width: 80%; bottom: 0; right: 0;
      animation: fadeRight 5s linear;
    }
  }

  .gscene-16 {
    .i-2 {
      width: 125px;
      bottom: 167px;
      left: 400px;
      animation: fadeLeft 3s linear;
    }
    .i-3 {
      top: 20px;
      left: 20px;
      animation: fadeLeft 1s linear;
    }
  }

  .gscene-17 {
    .i-3 {
      top: 20px;
      left: 20px;
      animation: fadeLeft 1s linear;
    }
  }

  .gscene-18 {
    .i-1 {
      height: 110%;
      bottom: -20px;
      left: -20px; right: 0; margin: auto;
      animation: sun 0.5s linear infinite;
    }
  }

  .gscene-19 {
    .i-1 {
      width: 100%; top: 0;
      animation: fadeDown 5s linear;
    }
  }

  .gscene-20 {
    .i-2 {
      top: 220px;
      left: 330px;
      width: 100px;
      animation: fadeLeft 3s linear;
    }
    .i-3 {
      top: 20px; left: 20px;
      animation: fadeLeft 1s linear;
    }
  }

  .gscene-21 {
    .i-2 {
      top: 20px; left: 20px;
      animation: fadeLeft 1s linear;
    }
  }

  .gscene-22 {
    .i-1 {
      height: 88%; bottom: 0; left: -20px;
      animation: fadeLeft 1s linear;
      z-index: 1;
    }
    .i-2 {
      height: 100%; top: 0; right: -128px;
      opacity: 0;
      animation: fadeLeft 2s linear forwards;
      animation-delay: 2s;
      z-index: 0;
    }
    .i-3 {
      height: 120px; top: 20px; left: 200px; opacity: 0;
      animation: fadeLeft 1s linear forwards;
      animation-delay: 5s;
      z-index: 0;
    }
  }

  .gscene-23 {
    .i-1 {
      height: 70%; top: 0; left: 0; right: 0; bottom: 0; margin: auto;
      animation: fadeUp 3s linear;
      z-index: 1;
    }
    .i-2 {
      height: 100%; bottom: 0; opacity: 0; left: 0; right: 0; margin: auto;
      animation: fade 3s linear forwards;
      animation-delay: 2s;
      z-index: 0;
    }
  }

  .gscene-24 {
    background-position: center;
    background-size: cover;

    h3 {
      color: var(--white);
    }

    .i-1 {
      animation: fadeRight 5s linear;
      height: 80%; bottom: -10px;
    }
  }

  @keyframes sun {
    0% { transform: rotate(2deg) }
    50%{ transform: rotate(-2deg) }
    100%{ transform: rotate(0deg) }
  }

  @keyframes fade {
    0% { opacity: 0; }
    100%{ opacity: 1; }
  }

  @keyframes left {
    0% { transform: translateX(0); }
    100%{ transform: translateX(20px); }
  }

  @keyframes right {
    0% { transform: translateX(0); }
    100%{ transform: translateX(-20px); }
  }

  @keyframes fadeRight {
    0% { transform: translateX(100px); opacity: 0; }
    100%{ transform: translateX(0); opacity: 1; }
  }

  @keyframes fadeLeft {
    0% { transform: translateX(-100px); opacity: 0; }
    100%{ transform: translateX(0); opacity: 1; }
  }

  @keyframes fadeUp{
    0% { transform: translateY(100px); opacity: 0; }
    100%{ transform: translateY(0); opacity: 1; }
  }

  @keyframes fadeDown{
    0% { transform: translateY(-100px); opacity: 0; }
    100%{ transform: translateY(0); opacity: 1; }
  }
}
