.cyber-shoot {
  padding: 0;
  background: radial-gradient(circle, rgba(194,194,194,1) 0%, rgba(99,99,99,1) 100%);
  position: relative;

  .scene-1,
  .scene-2,
  .scene-3,
  .scene-4,
  .scene-5,
  .scene-10 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    > * {
      position: absolute;
    }

    h1 {
      font-size: 40px;
      border-bottom: 0;
    }

    h2 {
      font-size: 35px;
    }

    h3 {
      font-size: 30px;
    }

    h4, p {
      font-size: 25px;
    }

    button {
      min-width: 200px;
      padding: 10px;
      border-width: 6px;
      border-style: solid;
      font-size: 40px;
      font-weight: bold;
      outline: none;

      &:hover {
        font-size: 42px;
      }

      &:disabled:hover {
        font-size: 40px;
      }
    }

    h1, h2, h3, h4, p {
      color: var(--black);
    }

    .scene-actions {
      button {
        min-width: 0;
        width: 40px;
        height: 40px;
        border: none;
        padding: 0;
        font-size: 0;
      }
    }
  }

  .scene-1 {
    .char {
      width: 300px;
      left: 0;
      right: 0;
      margin: auto;
      top: 50px;
      bottom: auto;
    }

    .name {
      top: auto;
      right: 0;
      left: 0;
      bottom: 265px;
      width: 700px;
      margin: auto;
    }

    .start {
      border-color: var(--black);
      bottom: 135px;
      right: 200px;
      color: var(--black);
    }

    .lesson {
      border-color: var(--black);
      bottom: 135px;
      left: 200px;
      color: var(--black);
    }
  }

  .scene-2 {
    .page {
      height: 100%;
      width: 100%;
      background-position: center;
      background-size: cover;
    }

    .page-1 button {
      position: absolute;
      bottom: 160px;
      right: 166px;
      border-color: #E6B8B8;
    }

    .page-4 {
      > * {
        position: absolute;
      }

      img {
        height: 51px;
        width: 392px;

        &:hover {
          height: 53px;
          width: 394px;
        }
      }

      .text1 {
        left: 431px;
        bottom: 215px;
      }

      .text2 {
        left: 431px;
        bottom: 157px;
      }

      .text3 {
        left: 431px;
        bottom: 100px;
      }
    }

    .page-13 {
      > * {
        position: absolute;
      }

      .char {
        width: 230px;
        left: 0;
        right: 0;
        margin: auto;
        top: 50px;
        bottom: auto;
      }

      .name {
        top: auto;
        right: 0;
        left: 0;
        bottom: 260px;
        width: 700px;
        margin: auto;
      }

      .start {
        border-color: var(--black);
        bottom: 135px;
        right: 0;
        left: 0;
        margin: auto;
        color: var(--black);
      }
    }

    .top-nav {
      display: flex;
      justify-content: space-between;
      position: absolute;
      top: 30px;
      left: 0;
      right: 0;
      padding: 0 20px;

      button {
        font-size: 25px;
        height: 65px;
        border: none;
        background-color: #E6B8B8;

        &:hover {
          background-color: darken(#E6B8B8, 10%);
        }
      }
    }
  }

  .scene-3 {
    h1 {
      color: var(--black);
    }

    .actors {
      display: flex;
      justify-content: space-around;
      left: 50px;
      right: 50px;
      top: 317px;

      img {
        height: 110px;
        opacity: 0.5;

        &:hover {
          height: 130px;
        }

        &.active {
          height: 130px;
          opacity: 1;
        }
      }
    }

    .gscene-0, .gscene-1, .gscene-2, .gscene-3,
    .gscene-4, .gscene-5, .gscene-6,
    .gscene-7, .gscene-8, .gscene-9,
    .gscene-10, .gscene-11, .gscene-12, .gscene-13 {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      > * {
        position: absolute;
      }

      .char {
        bottom: 0;
        left: 0;
        animation: fadeLeft 1s ease-in-out;
      }

      .submit-name {
        bottom: 100px;
        left: 0;
        right: 0;
        margin: auto;
        border-color: var(--black);
        color: var(--black);

        &:disabled {
          border-color: #DDD;
          color: #DDD;
        }
      }

      input {
        height: 60px;
        outline: none;
        text-align: center;
        width: 60%;
        margin: auto;
        left: 0;
        right: 0;
        top: 200px;
        padding: 10px;
        box-shadow: 2px 2px 4px var(--black);
        border: none;
        font-size: 40px;
      }

      h2 {
        font-size: 40px;
        top: 100px;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        color: var(--black);

        &.total-score {
          font-size: 80px;
          width: 400px;
          right: 40px;
          top: 170px;
          left: auto;
          text-align: center;
          border: 6px solid var(--black);
          background-color: var(--white);
          overflow: hidden;
        }
      }

      .item {
        top: 20px;
        right: 20px;
        max-width: 440px;
        height: auto;
        animation: fadeRight 1s ease-in-out;
      }

      .time {
        top: 20px;
      }

      .play-again {
        border-color: var(--black);
        color: var(--black);
        bottom: 200px;
        right: 120px;
      }

      .score {
        top: 20px;
        right: 20px;
        width: 200px;
        left: auto;
      }

      .life {
        top: 20px;
        left: 20px;
        width: auto;
        right: auto;

        img {
          margin-right: 8px;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    .gscene-0 {
      background-position: center;
      background-size: cover;

      .char {
        width: 300px;
        left: 0;
        right: 0;
        margin: auto;
        top: 50px;
        bottom: auto;
      }

      .name {
        top: auto;
        right: 0;
        left: 0;
        bottom: 265px;
        width: 700px;
        margin: auto;
      }

      .start {
        border-color: var(--black);
        bottom: 135px;
        right: 0;
        left: 0;
        margin: auto;
        color: var(--black);
      }
    }

    .gscene-1 {
      padding: 50px;

      h1 {
        font-size: 50px;
        border-bottom: 3px solid var(--black);
        color: var(--black);
      }

      p {
        color: var(--black);
        width: 885px;

        span {
          font-size: 20px;
          margin-top: 10px;
        }
      }

      img {
        right: 50px;
        bottom: 100px;
      }

      .c1 {
        top: 158px;
        left: 400px;
      }

      .c2 {
        top: 255px;
        left: 400px;
      }

      .c3 {
        top: 345px;
        left: 400px;
      }

      .c4 {
        top: 423px;
        left: 200px;
      }

      .c5 {
        top: 480px;
        font-size: 22px;
      }

      .c6 {
        top: 517px;
        font-size: 22px;
      }

      .char {
        right: 50px; bottom: 130px; width: 150px; left: auto;
        animation: fadeRight 1s linear;
      }
    }

    .gscene-3 {
      cursor: none;
    }

    .gscene-4 {
      background-position: center;
      background-size: cover;

      .char {
        height: 60%;
        width: auto;
        top: 0;
        bottom: 0;
        margin: auto;
        left: 80px;
      }
    }

    .overlay {
      z-index: 3;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.7);

      button {
        top: 40%;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        border-color: var(--black);
        color: var(--black);
      }
    }
  }

  @keyframes fadeRight {
    0% { transform: translateX(100px); opacity: 0; }
    100%{ transform: translateX(0); opacity: 1; }
  }

  @keyframes fadeLeft {
    0% { transform: translateX(-100px); opacity: 0; }
    60%{ transform: translateX(0); opacity: 1; }
  }
}
