.cyber-shoot {
  padding: 0;
  background: radial-gradient(circle, rgba(194,194,194,1) 0%, rgba(99,99,99,1) 100%);

  .scene-1,
  .scene-2,
  .scene-3,
  .scene-4,
  .scene-5,
  .scene-10 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    > * {
      position: absolute;
    }

    h1 {
      font-size: 40px;
      border-bottom: 0;
    }

    h2 {
      font-size: 35px;
    }

    h3 {
      font-size: 30px;
    }

    h4, p {
      font-size: 25px;
    }

    button {
      min-width: 200px;
      padding: 10px;
      border-width: 6px;
      border-style: solid;
      font-size: 40px;
      font-weight: bold;
      outline: none;

      &:hover {
        font-size: 42px;
      }

      &:disabled:hover {
        font-size: 40px;
      }
    }

    h1, h2, h3, h4, p {
      color: var(--black);
    }

    .scene-actions {
      button {
        min-width: 0;
        width: 40px;
        height: 40px;
        border: none;
        padding: 0;
        font-size: 0;
      }
    }
  }

  .scene-1 {
    .char {
      width: 300px;
      left: 0;
      right: 0;
      margin: auto;
      top: 50px;
      bottom: auto;
    }

    .name {
      top: auto;
      right: 0;
      left: 0;
      bottom: 265px;
      width: 700px;
      margin: auto;
    }

    .start {
      border-color: var(--black);
      bottom: 135px;
      right: 200px;
      color: var(--black);
    }

    .lesson {
      border-color: var(--black);
      bottom: 135px;
      left: 200px;
      color: var(--black);
    }
  }

  .scene-2 {
    .title {
      position: absolute;
      top: 25px;
      background-color: var(--black);
      padding: 40px 0;
      width: 100%;

      h1, p {
        text-align: center;
        border-bottom: none;
        color: var(--white);
      }

      p {
        margin-top: 16px;
      }
    }

    .char {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 380px;
      height: auto;
    }

    .char2 {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 150px;
      height: auto;
    }

    .page-1 {
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;

      .start {
        position: absolute;
        bottom: 170px;
        right: 200px;
        border-color: var(--black);
        color: var(--black);
      }
    }

    .page-2, .page-3, .page-4,
    .page-5, .page-6, .page-7,
    .page-8, .page-9, .page-10,
    .page-11, .page-12, .page-13 {
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;

      > * {
        position: absolute;
      }

      h3 {
        top: 200px;
        left: 350px;
        padding: 20px 30px;
        background-color: var(--white);
        border: 6px solid var(--black);
        color: var(--black);
        border-radius: 20px;
        z-index: 2;
      }

      ul {
        top: 310px;
        left: 410px;
        list-style: none;
        z-index: 1;
        width: 500px;
        padding: 0;

        li {
          color: var(--white);
          background-color: var(--black);
          padding-left: 8px;
          margin-bottom: 10px;
          padding: 5px 10px;
        }
      }

      p.content {
        top: 340px;
        left: 410px;
        background-color: var(--black);
        padding: 10px;
        width: 500px;
        text-align: center;
      }

      div.content1 {
        top: 210px;
        left: 40px;
        width: 39%;
        color: var(--black);
        background-color: var(--white);
        padding: 20px;
        border: 6px solid var(--black);
        border-radius: 20px;

        h4 {
          margin-bottom: 20px;
          color: var(--black);

          &:last-child {
            margin-bottom: 0;
          }
        }

        p {
          color: var(--black);
        }

        ul {
          list-style: square;
          padding-left: 30px;

          li {
            background-color: transparent;
            color: var(--black);
            font-size: 20px;
            padding-right: 40px;
            width: 71%;
          }
        }

        span {
          font-size: 20px;
          font-weight: normal;
          padding-left: 20px;
          color: var(--black);
        }
      }

      div.content2 {
        top: 210px;
        right: 40px;
        left: auto;
        width: 39%;
        color: var(--black);
        background-color: var(--white);
        padding: 20px;
        border: 6px solid var(--black);
        border-radius: 20px;

        h4 {
          margin-bottom: 20px;
          color: var(--black);

          &:last-child {
            margin-bottom: 0;
          }
        }

        p {
          color: var(--black);
        }

        ul {
          list-style: square;
          padding-left: 30px;

          li {
            background-color: transparent;
            color: var(--black);
            font-size: 20px;
            padding-right: 40px;
            width: 71%;
          }
        }

        span {
          font-size: 20px;
          font-weight: normal;
          padding-left: 20px;
          color: var(--black);
        }
      }

      .social-1 {
        width: 250px;
        right: 50px;
        top: 200px;
      }

      .social-2 {
        width: 250px;
        right: 50px;
        top: 400px;
      }

      .start {
        bottom: 200px;
        right: 150px;
        border-color: var(--black);
      }
    }

    .page-5 {
      .type {
        padding: 10px;
        width: 400px;
        text-align: center;
        background-color: var(--white);
        border: 6px solid var(--black);
        color: var(--black);
        border-radius: 20px;
        top: 200px;
        left: 0;
        right: 0;
        margin: auto;
      }

      p {
        background-color: var(--white);
        border: 6px solid var(--black);
        color: var(--black);
        padding: 10px 20px;
        border-radius: 50px;
      }

      .t1 {
        top: 330px;
        left: 80px;
      }

      .t2 {
        top: 360px;
        right: 80px;
      }

      .t3 {
        top: 480px;
        left: 250px;
      }
    }

    .page-6 {
      .type {
        padding: 10px;
        width: 400px;
        text-align: center;
        background-color: var(--white);
        border: 6px solid var(--black);
        color: var(--black);
        border-radius: 20px;
        top: 200px;
        left: auto;
        right: 100px;
        margin: auto;
      }

      p {
        background-color: var(--white);
        border: 6px solid var(--black);
        color: var(--black);
        padding: 10px 20px;
        border-radius: 50px;
        width: 400px;
      }

      .t1 {
        top: 330px;
        left: 100px;
      }

      .t2 {
        top: 450px;
        right: 100px;
      }
    }

    .page-5 .content1, .page-8 .content1, .page-11 .content1, .page-12 .content1 {
      width: 85% !important;
      margin: auto;
      left: 0 !important;
      right: 0;
      top: 200px !important;

      ul {
        margin: 0;
        padding: 0;
        width: 100%;
        list-style: square;
        padding-left: 20px;

        li {
          background: none;
          font-size: 20px;
          color:var(--black);
          font-weight: normal;
          width: 95% !important;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      p {
        color: var(--white);
        font-size: 20px;
      }
    }
  }

  .scene-3 {
    h1 {
      color: var(--black);
    }

    .gscene-1, .gscene-2, .gscene-3,
    .gscene-4, .gscene-5, .gscene-6,
    .gscene-7, .gscene-8, .gscene-9,
    .gscene-10, .gscene-11, .gscene-12, .gscene-13 {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      > * {
        position: absolute;
      }

      .char {
        bottom: 0;
        left: 0;
        animation: fadeLeft 1s ease-in-out;
      }

      .submit-name {
        bottom: 150px;
        left: 0;
        right: 0;
        margin: auto;
        border-color: var(--black);
        color: var(--black);

        &:disabled {
          border-color: #DDD;
          color: #DDD;
        }
      }

      input {
        height: 60px;
        outline: none;
        text-align: center;
        width: 60%;
        margin: auto;
        left: 0;
        right: 0;
        top: 250px;
        padding: 10px;
        box-shadow: 2px 2px 4px var(--black);
        border: none;
        font-size: 40px;
      }

      h2 {
        font-size: 40px;
        top: 150px;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        color: var(--black);

        &.total-score {
          font-size: 80px;
          width: 400px;
          right: 20px;
          top: 261px;
          left: auto;
          text-align: center;
          border: 6px solid var(--secondary);
          background-color: var(--black);
          overflow: hidden;
        }
      }

      .item {
        top: 20px;
        right: 20px;
        max-width: 440px;
        height: auto;
        animation: fadeRight 1s ease-in-out;
      }

      .time {
        top: 20px;
      }

      .play-again {
        border-color: var(--black);
        color: var(--black);
        bottom: 150px;
        right: 50px;
      }

      .score {
        top: 50px;
        right: 50px;
      }
    }

    .gscene-1 {
      padding: 50px;

      h1 {
        font-size: 50px;
        border-bottom: 3px solid var(--black);
      }

      p {
        color: var(--black);
        width: 885px;

        span {
          font-size: 20px;
          margin-top: 10px;
        }
      }

      img {
        right: 50px;
        bottom: 100px;
      }

      .c1 {
        top: 158px;
        left: 400px;
      }

      .c2 {
        top: 255px;
        left: 400px;
      }

      .c3 {
        top: 345px;
        left: 400px;
      }

      .c4 {
        top: 445px;
      }

      .c5 {
        top: 487px;
      }
    }

    .overlay {
      z-index: 3;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.7);

      button {
        top: 40%;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        border-color: var(--black);
        color: var(--black);
      }
    }
  }

  @keyframes fadeRight {
    0% { transform: translateX(100px); opacity: 0; }
    100%{ transform: translateX(0); opacity: 1; }
  }

  @keyframes fadeLeft {
    0% { transform: translateX(-100px); opacity: 0; }
    60%{ transform: translateX(0); opacity: 1; }
  }
}
