.a-day-with-peepo {
  padding: 0;
  background: radial-gradient(circle, rgba(0,161,194,1) 0%, rgba(1,65,135,1) 85%);

  .scene-1,
  .scene-2,
  .scene-3,
  .scene-4,
  .scene-5,
  .scene-10 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    > * {
      position: absolute;
    }

    h1 {
      font-size: 40px;
      border-bottom: 0;
    }

    h2 {
      font-size: 35px;
    }

    h3 {
      font-size: 30px;
    }

    h4, p {
      font-size: 25px;
    }

    button {
      min-width: 200px;
      padding: 10px;
      border-width: 6px;
      border-style: solid;
      font-size: 40px;
      font-weight: bold;
      outline: none;

      &:hover {
        font-size: 42px;
      }

      &:disabled:hover {
        font-size: 40px;
      }
    }

    h1, h2, h3, h4, p {
      color: var(--secondary);
    }

    .scene-actions {
      button {
        min-width: 0;
        width: 40px;
        height: 40px;
        border: none;
        padding: 0;
        font-size: 0;
      }
    }
  }

  .scene-1 {
    .char {
      bottom: 0;
      left: 0;
    }

    .name {
      right: 50px;
      top: 50px;
    }

    .start {
      border-color: red;
      bottom: 100px;
      right: 80px;
      color: red;
    }

    .lesson {
      border-color: red;
      bottom: 220px;
      right: 115px;
      color: red;
    }
  }

  .scene-2 {
    .page {
      height: 100%;
      width: 100%;
      background-position: center;
      background-size: cover;
    }

    .page-1 button {
      position: absolute;
      bottom: 160px;
      right: 166px;
      border-color: var(--black);
    }

    .page-4 {
      > * {
        position: absolute;
      }

      img {
        height: 87px;
        width: 620px;

        &:hover {
          height: 89px;
          width: 622px;
        }
      }

      .text1 {
        left: 300px;
        bottom: 160px;
      }
    }

    .page-23 {
      > * {
        position: absolute;
      }

      .char {
        bottom: 0;
        left: 0;
      }

      .name {
        right: 50px;
        top: 50px;
      }

      .start {
        border-color: red;
        bottom: 155px;
        right: 130px;
        color: red;
      }
    }

    .top-nav {
      display: flex;
      justify-content: space-between;
      position: absolute;
      top: 30px;
      left: 0;
      right: 0;
      padding: 0 20px;

      button {
        font-size: 25px;
        height: 65px;
        background-color: var(--white);
        border-color: var(--secondary);
        border-width: 3px;

        &:hover {
          background-color: var(--secondary_light);
        }
      }
    }
  }

  .scene-3 {
    .countdown {
      top: 20px;
      left: 20px;
      right: auto;
      font-size: 40px;
      color: var(--white);
    }

    .score {
      top: 20px;
      left: 200px;
      right: auto;
      font-size: 40px;
      color: var(--white);
    }

    .gscene-0, .gscene-1, .gscene-2, .gscene-3,
    .gscene-4, .gscene-5, .gscene-6,
    .gscene-7, .gscene-8, .gscene-9,
    .gscene-10, .gscene-11, .gscene-12, .gscene-13 {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      > * {
        position: absolute;
      }

      .char {
        bottom: 0;
        left: 0;
        width: 500px;
        animation: fadeLeft 1s ease-in-out;
      }

      .label {
        top: 110px;
        left: 45px;
        width: 450px;
        text-align: center;
        color: var(--white);
        background-color: var(--black);
        padding: 8px;
      }

      .submit-name {
        bottom: 150px;
        left: 0;
        right: 0;
        margin: auto;
        border-color: red;
        color: red;

        &:disabled {
          border-color: #DDD;
          color: #DDD;
        }
      }

      input {
        height: 60px;
        outline: none;
        text-align: center;
        width: 60%;
        margin: auto;
        left: 0;
        right: 0;
        top: 250px;
        padding: 10px;
        box-shadow: 2px 2px 4px var(--black);
        border: none;
        font-size: 40px;
      }

      h2 {
        font-size: 40px;
        top: 150px;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        color: var(--white);

        &.countdown {
          top: 20px;
          left: 20px;
          width: 150px;
          right: auto;
          font-size: 80px;
        }

        &.total-score {
          font-size: 54px;
          width: 300px;
          right: 57px;
          top: 261px;
          left: auto;
          text-align: center;
          border: 6px solid var(--secondary);
          background-color: var(--black);
          overflow: hidden;
        }

        &.zoom {
          right: 200px;
          left: auto;
          top: 160px;
          width: 150px;
          transform: rotate(-20deg);
          font-size: 90px;
        }
      }

      .item {
        top: 20px;
        right: 20px;
        max-width: 440px;
        height: auto;
        animation: fadeRight 1s ease-in-out;
      }

      .choice {
        border-color: var(--primary_dark);
        color: var(--primary_dark);
        bottom: 190px;
        right: 86px;
        width: 310px;

        &.incorrect {
          bottom: 85px;
        }
      }

      .play-again {
        border-color: red;
        color: red;
        bottom: 150px;
        right: 50px;
      }

      .txt-score {
        top: 50px;
        right: 50px;
      }
    }

    .gscene-0 {
      .char {
        bottom: 0;
        left: 0;
      }

      .name {
        right: 50px;
        top: 50px;
      }

      .start {
        border-color: red;
        bottom: 145px;
        right: 155px;
        color: red;
      }
    }

    .gscene-1 {
      padding: 50px;

      h1 {
        font-size: 50px;
        border-bottom: 3px solid var(--white);
      }

      p {
        color: var(--white);
        width: 885px;

        button {
          margin-right: 10px;
          padding: 5px 10px;
          background-color: var(--white);
          border: 6px solid var(--primary_dark);
          color: var(--primary_dark);
          width: 165px;
          font-size: 25px;
        }
      }

      .char {
        right: 50px; left: auto; bottom: 100px; width: 150px;
        animation: fadeRight 1s linear;
      }

      .c1 {
        top: 158px;
      }

      .c2 {
        top: 255px;
      }

      .c3 {
        top: 326px;
      }

      .c4 {
        top: 400px;
      }

      .c5 {
        top: 464px;
      }

      .c6 {
        top: 502px;
      }

      .c7 {
        top: 542px;
      }
    }

    .gscene-6 {
      .item {
        width: 300px;
        right: 70px;
      }
    }

    .gscene-8 {
      .label {
        top: 90px;
      }
    }

    .gscene-11 {
      .item {
        right: 48px;
        width: 350px;
      }
    }

    .gscene-13 {
      .char {
        width: auto;
      }
    }

    .overlay {
      z-index: 3;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.7);

      button {
        top: 40%;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        border-color: red;
        color: red;
      }
    }
  }

  @keyframes fadeRight {
    0% { transform: translateX(100px); opacity: 0; }
    100%{ transform: translateX(0); opacity: 1; }
  }

  @keyframes fadeLeft {
    0% { transform: translateX(-100px); opacity: 0; }
    60%{ transform: translateX(0); opacity: 1; }
  }
}
